<%@page language="java" contenType = "text/html" pageEncoding = "UTF-8"%>
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>FACTURA</title>
	</head>
	<body>
		<h1>Buscar Mayor</h1>
		
		<!-- formulario de ingreso -->
		<form method="post" action="">
			<p>N1:<input type = "text" name = "n1"></p>
			<p>N2:<input type = "text" name = "n2"></p>
			<p>N3:<input type = "text" name = "n3"></p>
			<p><input type = "submit" name = "" value="BUSCAR MAYOR"></p>
		</form>
		
		<a href = "/get/cdr/70712345">[Facturar]</a>
		<a href = "/home">[VOLVER]</a>
		
		<form action="login">
  			User Name:<input type="text" name="userName"/><br/>
  			Password:<input type="password" name="userPassword"/><br/>
  			<input type="submit" value="submit"/>
		</form>
		
		
	</body>
</html>